# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Archivos de credenciales
terraform/*.json

# Archivos de configuración locales
*.tfvars
*.tfvars.json

# Archivos de logs o depuración
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Python (si trabajas con app en GKE/App Engine)
__pycache__/
*.pyc
.env
